<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link active" routerLink="/">Main</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/contacts">Contacts</a></li>
    </ul>
  </header>
</div>

<router-outlet></router-outlet>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a class="nav-link px-2 text-muted" routerLink="/">Main</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" routerLink="/contacts">Contacts</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 MyCompany, Inc</p>
  </footer>
</div>
