<div class="content" role="main">
  <br>
  <h4>
    <mark>Автомобиль: {{name}}</mark>
    <small>{{model}}</small>
  </h4>
  <div class="alert alert-success">
    Характеристики авто:
    <ul>
      <li>Скорость:<strong>{{speed}}</strong></li>
      <li>Цвет авто:<strong>{{colors?.car}}</strong></li>
      <li>Цвет салона:<strong>{{colors?.salon}}</strong></li>
      <li>Цвет колес:<strong>{{colors?.wheels}}</strong></li>
    </ul>
  </div>

  <h5>Редактирование объекта:</h5>
  <button class="btn btn-danger"
          (click)="showEdit()">Редактировать</button>
  <div><br></div>
  <form *ngIf="isEdit">
    <div class="form-group">
      <input type="text" placeholder="Название машины"
             class="form-control" [(ngModel)]="name" name="name">
      <br>
      <input type="text" placeholder="Модель машины"
             class="form-control" [(ngModel)]="model" name="model">
      <br>
      <input type="number" placeholder="Скорость"
             class="form-control" [(ngModel)]="speed" name="speed">
      <br>
      <input type="text" placeholder="Цвет машины"
             class="form-control" [(ngModel)]="colors!.car" name="car">
      <br>
      <input type="text" placeholder="Цвет салона"
             class="form-control" [(ngModel)]="colors!.salon" name="salon">
      <br>
      <input type="text" placeholder="Цвет колес"
             class="form-control" [(ngModel)]="colors!.wheels" name="wheels">
    </div>
  </form>

  <h5>Возможности авто:</h5>
  <form (submit)="addOpt(option.value)">
    <div class="form-group">
      <label for="option">
        Добавление новой возможности
      </label>
      <input type="text" id="option" placeholder="Введите опцию"
             class="form-control" #option>
      <br>
      <button type="submit" class="btn btn-outline-success">
        Добавить
      </button>
    </div>
  </form>
  <div class="alert alert-warning">
    <ul>
      <li *ngFor="let opt of options, let i = index">
        {{i + 1}} - {{opt}}
        <button class="btn btn-warning btn-sm"
                (click)=deleteOption(opt)
        >x
        </button>

      </li>
    </ul>
  </div>

  <h5>Выбрать авто:</h5>
  <div>
    <button class="btn btn-danger" (click)="carSelect('BMW')">BMW</button>
    <button class="btn btn-success" (click)="carSelect('AUDI')">AUDI</button>
    <button class="btn btn-info" (click)="carSelect('MERS')">MERS</button>
  </div>


</div>
